#clockContainer {
  border: 1px solid red;
  height: 40vw;
  width: 40vw;
  background: url(clock.png) no-repeat;
  background-size: 100%;
  margin:auto;
  position:relative;
}
#hours,#minutes,#seconds {
  position: absolute;
  border-radius: 10px;
  background-color: black;
  transform-origin: bottom;
}
#hours {
    width: 1%;
    height: 20%;
    left: 48.18%;
    top: 29%;
    background-color: black;
    opacity: 0.8;
}
#minutes {
    width: 1%;
    height: 27%;
    left: 48.35%;
    top: 22%;
    background-color: green;
    opacity: 0.8;
}
#seconds {
    width: 1%;
    height: 34%;
    left: 48.18%;
    top: 15%;
    background-color: red;
    opacity: 0.8;
}
